@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Strijpsebaan 44<br />
    Eindhoven, 5657 AC<br />
    <abbr title="Phone">P:</abbr>
    06-81833223
</address>

<address>
    <strong>Information:</strong>   <a href="mailto:Info-AvB@example.com">Info-AvB@example.com</a><br />
    <strong>Office:</strong> <a href="mailto:Office-AvB@example.com">Office-AvB@example.com</a>
</address>