
@{
    ViewBag.Title = "Opening times AvB";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<body>
    <div>
        <h3>
            <strong> From the ofice </strong>  
        </h3>
        <p>
            Monday 8.00 to 17.00
        </p>
        <p>
            Thuesday 8.00 to 17.00
        </p>
        <p>
            Wednesday 8.00 to 17.00
        </p>
        <p>
            Thursday 8.00 to 17.00
        </p>
        <p>
            Friday 9.00 to 15.00
        </p>
        <p>
            Saturday Closed
        </p>
        <p>
            Sonday Closed
        </p>
    </div>
</body>


