
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form action="Login/Login" method="post">
    First name:<br>
    <input type="text" name="Username" value="">
    <br>
    Last name:<br>
    <input type="password" name="Password" value="">
    <br><br>
    <input type="submit" value="Login">
</form>